#address {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 530px;
        height: 570px;
        background: #fff;
        padding: 50px 30px;
        overflow-y:auto;
        position: relative;
        > button {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            border: 1px solid transparent;
            background-color: transparent;
            padding: 10px;
        }
        .title {
            text-align: center;
            padding: 30px 0 25px 0;
            h2 {
                color: #333;
                font-size: 24px;
                font-weight: 600;
                strong {
                    color: #580080;
                    padding-right: 5px;
                }
            }
            h3 {
                font-size: 16px;
                color: #666;
                font-weight: 500;
                padding-top: 10px;
            }
        }
        .content {
            width: 100%;
                    .input-box {
                        width: 455px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        input {
                            width: 325px;
                            height: 100%;
                            border: 1px solid #ddd;
                            border-radius: 3px;
                            background-color: #eee;
                            padding: 0 10px;
                            outline: 0;
                            // offset: -1px;
                        }
                        button {
                            cursor: pointer;
                            width: 120px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            font-weight: 500;
                            background: #fff;
                            color: #580080;
                            border-radius: 3px;
                            border: 1px solid #580080;
                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                    > input {
                        width: 455px;
                        height: 45px;
                        border: 1px solid #ddd;
                        margin-bottom: 10px;
                        outline: 0;
                        padding : 0 10px;
                    }
                   h4 {
                        font-size: 12px;
                        color: #999;
                        font-weight: 500;
                        letter-spacing: -0.7px;
                        line-height: 110%;
                        padding-bottom: 20px;
                    }
                    button {
                        cursor: pointer;
                        width: 100%;
                        height: 45px;
                        background-color: #580080;
                        border: none;
                        border-radius: 3px;
                        color: #fff;
                        font-weight: 600;
                    }
                    .add-box {
                        cursor: pointer;
                        margin-top: 16px;
                        padding: 20px 0;
                       > h4 {
                        font-size: 14px;
                        color: #f03f40;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        padding-bottom: 10px;
                        img {
                            margin-right: 5px;
                            width: 14px;
                            height: 14px;
                            }
                        }
                        span {
                        color: #666;
                        font-size: 14px;
                        margin-left: 20px;
                        display: flex;
                        justify-content: space-between;
                        em {
                            color: #999;
                            font-size: 12px;
                            img {
                                padding-left: 5px;
                                &.on {
                                    padding: 0 5px 0 0;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        }
                    
            
            }
            .no-deli {
                margin-left: 11px;
                ul {
                    li {
                        font-size:12px;
                        color:#999 ;
                        line-height: 140%;
                    }
                }
            }
        }
    }
}