#goTop {
    width: 58px;
    height: 58px;
    position: fixed;
    z-index: 4;
    right: 20px;
    bottom: -100px;
    transition:  all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    &.on {
        bottom: 20px;
        opacity: 1;
    }
    .container {
        width: 100%;
        .content {
            width: 100%;
            a {
                img {
                    width: 58px;
                }
            }
        }
    }
}