#header {
    width: 100%;
    .wrap {
        width: 100%;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 3;
        .container {
            width: 100%;
            max-width: 1050px;
            margin: 0 auto;
            .content {
                width: 100%;
                .row1 {
                    display: flex;
                    align-items: center;
                    height: 35px;
                    justify-content: right;
                    position: relative;
                    h4 {
                        font-size: 12px;
                        font-weight: 400;
                        cursor: pointer;
                        &.signUp {
                            color: #5f0080;
                        }
                        &.clientNotice {
                            height: 35px;
                            display: flex;
                            align-items: center;
                        }
                        img {
                            margin: 0 0 2px 5px;
                            width: 8px;
                            height: 5px;
                        }
                        .notice-box {
                            position: absolute;
                            z-index: 2;
                            top: 30px;
                            right: 0;
                            width: 130px;
                            border: 1px solid #ddd;
                            background-color: #fff;
                            color: #999;
                            padding: 3px 0;
                            li {
                                width: 100%;
                                padding: 6px 10px;
                                a {

                                }
                            }
                        }
                    }
                    i {
                        color: #d9d9d9;
                        padding: 0 10px;
                        font-size: 13px;
                    }
                }
                .row2 {
                    height: 63px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    .left {
                        display: flex;
                        align-items: center;
                        position: relative;
                        img {
                            width: auto;
                            &.n_mark {
                                position: absolute;
                                top: 10px;
                                right: -10px;
                            }
                        }
                        h3 {
                            font-size: 18px;
                            color: #5f0080;
                            margin-left: 20px;
                            font-weight: 500;
                            &.beauty {
                                color: #d9d9d9;
                                margin: 0;
                                &:hover {
                                    color: #5f0080;
                                }
                            }
                        }
                        i {
                            color: #d9d9d9;
                            margin: 0 10px;
                        }
                    }
                    .center {
                        width:400px;
                        position: relative;   
                            &.on {
                            position: fixed;
                            right:50%;
                            margin-right: -525px + 180px;
                            top:0;
                            width: 240px;
                            height: 56px;
                            display: flex;
                            align-items: center;
                            z-index: 4;
                            input {
                                height: 35px;
                                border:0;
                                background-color: #f7f7f7;
                                &::placeholder {
                                    font-size: 12px;
                                    color:#aaa;
                                }
                            }
                        }
                        input {
                        width:100%;
                        height: 48px;
                        border: 1px solid #5f0080;
                        border-radius: 6px;
                        background: #fff;
                        z-index: 1;
                        position: relative;
                        font-size: 16px;
                        padding: 0 15px;
                        &::placeholder {
                            color: #999;
                            font-size: 17px;
                        }
                    }
                        img {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    margin-top:-15px;
                    z-index: 2;
                    width: 30px;
                    height: 30px;       
                        }
                    }
                    .right {
                        &.on {
                            position: fixed;
                            right:50%;
                            margin-right: -525px; // 1050px / 2 
                            top:0;
                            width:auto;
                            height: 56px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            z-index: 4;
                        }
                        .icon-box {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            li {
                                cursor: pointer;
                                position: relative;
                                &.mapIcon {
                                    // height: 63px;
                                }
                                .map-box {
                                    width: 267px;
                                    height: auto;
                                    border: 1px solid #ddd;
                                    background-color: #fff;
                                    position: absolute;
                                    top: 48px;
                                    left: -110px;
                                    padding: 20px 15px;
                                    line-height: 150%;
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top:-11px;
                                        left: 45%;
                                        width: 20px;
                                        height: 20px;
                                        background: url(../../../public/img/header/icon_up_arrow.svg) no-repeat;
                                    }
                                    strong {
                                        color: #5f0080;
                                        font-weight: 500;
                                        font-size: 16px;
                                    }
                                    h3 {
                                        font-weight: 400;
                                        font-size: 16px;
                                    }
                                    .add-box {
                                        margin-bottom: 10px;
                                        span {
                                            margin-right: 5px;
                                        }
                                    }
                                    .btn-box {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-evenly;
                                        padding-top: 10px;
                                        button {
                                            height: 36px;
                                            cursor: pointer;
                                            border-radius: 3px;
                                            border: 1px solid #5f0080;
                                            &:nth-child(1) {
                                                background-color: #fff;
                                                color: #5f0080;
                                                width: 80px;
                                            }
                                            &:last-child {
                                                width: 135px;
                                                background-color: #5f0080;
                                                color: #fff;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                img {
                                                    width: 20px;
                                                    height: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                                img {
                                    width: 36px;
                                    height: 36px;
                                    &.center_icon {
                                        margin: 0 25px;
                                    }
                                }
                            }
                        }
                    }
                }
                .row3 {
                    width: 100%;
                    height: 56px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    box-shadow: 0 2px 0px 0 rgba(0,0,0, 0.1);
                    &.on {
                        position: fixed;
                        top: 0;
                        left: 0;
                    }
                    .row3-box {
                        width: 1050px;
                        display: flex;
                        margin: 0 auto;
                        height: 100%;
                        align-items: center;
                        // justify-content: space-between;
                        background-color: #fff;
                            .left {
                            width:225px;
                            display: flex;
                            cursor: pointer;
                            &.on {
                                width: 120px;
                            }
                            img {}
                            h3 {
                                font-size: 16px;
                                font-weight: 500;
                                margin-left: 10px;
                                &:hover {
                                    color: #5f0080;
                                }
                            }
                        }
                        .center {
                            width: 600px;
                            &.on {
                                width: 450px;
                            }
                            .center-box {
                                cursor: pointer;
                                width: 100%;
                                display: flex;
                                justify-content: space-around;
                                a {
                                    &.on {
                                        color: #5f0080;
                                    }
                                h3 {
                                    font-size: 16px;
                                    font-weight: 500;
                                    &:hover {
                                        text-decoration: underline;
                                        color: #5f0080;
                                    }
                                
                                }
                            }                    
                            }
                        }
                        .right {
                            width: 225px;
                            display: flex;
                            justify-content: flex-end;
                            &.on {
                                display: none;
                            }
                            .right-box {
                                width: 146px;
                                border: #eee 1px solid;
                                border-radius: 30px;
                                height: 32px;
                                padding: 6px 16px;
                                display: flex;
                                strong {
                                    color: #5f0080;
                                    font-size: 13px;
                                    font-weight: 500;
                                }
                                h4 {
                                    color: #666;
                                    font-size: 13px;
                                    font-weight: 500;
                                    margin-left: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}