#topModal {
    width: 100%;
    background-color: #5f0080;
    height: 42px;
    &.off {
        margin-top: -42px;
        transition: all 0.5s ease-in-out;
    }
        .container {
            width: 100%;
            max-width: 1050px;
            margin: 0 auto;
            .content {
                position: relative;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 42px;
                a {
                    font-size: 14px;
                    color: #fff;
                    h4 {
                        font-weight: 400;
                        strong {
                            margin: 0 5px;

                        }
                    }
                }
                img{
                    position: absolute;
                    top: 25%;
                    right: 0;
                    width: 20px;
                    height: 20px;
                }
            
        }
    }
}