#sub4 {
    width: 100%;
    .container {
        width: 100%;
        max-width: 1050px;
        margin: 0 auto;
        .content {
            .img-box {
                img {

                }
            }
        }
    }
}