#sub5 {
    width: 100%;
    margin: 50px 0;
    .container {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;     
        .title {
            h3 {
                font-size: 28px;
                color: #333;
                margin-bottom: 50px;
                text-align: center;
            }
            .small-title {
                text-align: right;
                padding-bottom: 10px;
                border-bottom: 2px solid #333;
                i {
                    color: #ee6a7b;
                    padding: 0 5px;
                }
                span {
                    font-size: 12px;
                    color: #666;
                }
            }
        }
        .content {
            width: 100%;
            .personal {
                ul {
                    padding-bottom: 10px;
                    li {
                        // height: 68px;
                        display: block;
                        padding: 10px 20px;
                        .gap {
                            width: 100%;
                            padding: 0 128px 0 139px;
                            position: relative;
                            &.long{
                                padding-left: 0;
                            }
                            label {
                                position: absolute;
                                top: 0;
                                left: 0;
                                font-size: 14px;
                                color: #333;
                                width: 139px;
                                font-weight: 600;
                                margin-top: 10px;
                                i {
                                    color: #ee6a7b;
                                    padding: 0 5px;
                                }
                            }
                            input {
                                width: 333px;
                                height: 46px;
                                border: 1px solid #ddd;
                            &[type=text] {
                                padding: 0 15px;
                                border-radius: 3px;
                                font-size: 16px;
                                color: #333;
                                outline: transparent;
                                offset: -1px;
                                width: 100%;
                            }
                            &[type=radio] {
                                appearance: none;
                                border-radius: 50%;
                                width: 24px;
                                height: 24px;
                                margin-right: 15px;
                                &:checked {
                                    border: 6px solid #5f0080;
                                    }
                                }
                            }
                            button {
                                cursor: pointer;
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 120px;
                                height: 44px;
                                background-color: #fff;
                                border: 1px solid #5f0080;
                                color: #5f0080;
                                font-weight: 600;
                                border-radius: 3px;
                                &.off {
                                    border-color: #ddd;
                                    color: #ddd;
                                }
                                &.address {
                                    width: 100%;
                                    height: 46px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: relative;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                    &.on {
                                        width: 120px;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }
                            p {
                                font-size: 13px;
                                color: #f03f40;
                                display: block;
                                margin-top: 7px;
                            }
                            span {
                                display:flex;
                                flex-flow: row wrap;
                                color: #666;
                                font-size: 12px;
                                line-height: 130%;
                                margin-left: 3px;
                            }
                            .address-box {
                                height: auto;
                                button {
                                    width: 333px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-right: 0;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                        margin-right: 5px;
                                    }
                                }
                                h4 {
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: #5f0080;
                                    margin-bottom: 20px;
                                }

                            }
                            .gender-box, .add-box {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                label {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    width: auto;
                                    input {
        
                                    }
                                }
                            }
                            .birth-box {
                                display: flex;
                                width: 333px;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid #ddd;
                                input {
                                    width: 90px;
                                    border: 0;
                                    padding: 0 15px ;
                                    color: #888;
                                    text-align: center;
                                }
                                span {
                                    color: #ddd;
                                }

                            }
                            h4 {
                                font-size: 12px;
                                font-weight: 500;
                                color: #5f0080;
                            }
                        }
                    }
                }
            }
            .agree {
                width: 100%;
                border-top: 0.5px solid #333;
                .gap {
                    display: flex;
                    padding: 10px 20px;
                    > label {
                        padding-top: 15px;
                        font-size: 14px;
                        color: #333;
                        width: 139px;
                        font-weight: 600;
                        i {
                            color: #ee6a7b;
                            padding: 0 5px;
                        }}
                    .agree-box {
                        ul {
                            li {
                                width: 100%;
                                padding: 8px 0;
                                font-size: 14px;
                                color: #333;
                                &.li-sns {
                                    padding: 0 0 4px 0;
                                }
                                .service {
                                    &.notice {
                                        padding-left: 35px;
                                    }
                                    label {
                                        display: flex;
                                        align-items: center;
                                    &.everyAgree {
                                        font-size: 18px;
                                        font-weight: 600;
                                        padding-bottom: 0;
                                    }
                                    &.sns {
                                        display: inline-flex;
                                        margin-right: 60px;
                                    }
                                        input {
                                            appearance: none;
                                            background: url(../../../../public/img/sub5/check_box.svg) no-repeat;
                                            width: 24px;
                                            height: 24px;
                                            margin-right: 10px;
                                            &:checked {
                                                background: url(../../../../public/img/sub5/check_box_on.svg);
                                            }
                                        }
                                        em {
                                            color: #999;
                                            padding-left: 5px;
                                        }
                                        .icon-sns {
                                            display: flex;
                                            align-items: center;
                                            padding-left: 60px;
                                            img {
                                                margin-top: 1px;
                                            }
                                            h6 {
                                                font-size: 12px;
                                                color: #5f0080;
                                                font-weight: 500;
    
                                            }
                                        }
                                    }

                                }
                                h5 {
                                    font-size: 12px;
                                    color: #666;
                                    font-weight: 500;
                                    padding: 3px 0 3px 35px;
                                }
                            }
                        }
                    }
                }
            }
            .signUp {
                border-top: 1px solid #f7f7f7;
                padding: 40px 0;
                text-align: center;
                button {
                    width: 240px;
                    height: 56px;
                    font-size: 16px;
                    font-weight: 600;
                    background: #5f0080;
                    color: #fff;
                    border: transparent;
                    border-radius: 3px;
                }
            }
        }
    }
}