
#sub6 {
    width: 100%;
    margin: 90px 0 60px 0;
    .container {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        .title {
            text-align: center;
            h2 {
                font-size: 24px;
            }
        }
        > .content {
            width: 100%;
            display: inline-block;
            margin-top: 30px;
            .log-in {
                input {
                    height: 54px;
                    width: 100%;
                    font-size: 14px;
                    padding: 0 15px;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    margin-bottom: 10px;
                }
            }
            .find {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 13px;
                justify-content: right;
                color: #333;
                margin-top: 10px;
                h4 {
                    font-weight: 500;
                }
                i {
                    padding: 0 3px;
                }
            }
            .btn {
                margin-top: 28px;
                button {
                    cursor: pointer;
                    height: 54px;
                    font-size: 16px;
                    width: 100%;
                    border-radius: 3px;
                    &.logIn {
                        background-color: #5f0080;
                        color: #fff;
                        border: none;
                    }
                    &.signUp {
                        color: #5f0080;
                        border: 1px solid #5f0080;
                        background-color: #fff;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}