#sub7, #sub8 {
    width: 100%;
    margin: 50px 0;
    .container {
        max-width: 380px;
        margin: 0 auto;
        .title {
            padding-bottom: 50px;
            h2 {
                text-align: center;
                font-size: 28px;
                font-weight: 600;
            }
        }
        .content {
            width: 100%;
            .name-title {
                width: 100%;
                display: flex;
                align-content: center;
                justify-content: space-around;
                height: 38px;
                line-height: 18px;
                font-size: 16px;
                // margin: 0 25px;
                padding: 0 20px;
                h3 {
                    cursor: pointer;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 600;
                    &.on {
                        color: #5f0080;
                        box-shadow: rgb(95, 0, 128) 0px -2px 0px 0px inset;
                    }
                    &.off {
                        box-shadow: #ddd 0px -0.5px 0px 0px inset;
                    }
                }
            }
            .phone, .eMail {
                width: 100%;
                padding: 25px;
                &.hide {
                    display: none;
                }
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        .gap {
                            width: 100%;
                            // margin-bottom: 20px;
                            label {
                                font-size: 16px;
                                color: #333;
                                font-weight: 600;
                            }
                            input {
                                width: 100%;
                                height: 46px;
                                border: 1px solid #ddd;
                                margin: 20px 0;
                                border-radius: 3px;
                                padding: 0 10px;
                                font-size: 16px;
                            }
                            button {
                                height: 56px;
                                width: 100%;
                                border: none;
                                border-radius: 3px;
                                font-size: 18px;
                                color: #fff;
                                background-color: #ddd;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}