#section1 {
    width: 100%;
    .slide-wrap {
        width: 100%;
        .slide-container {
            width: 100%;
            position: relative;
            .slide-content {
                width: 100%;
                .slide {
                    width: 100%;
                    overflow: hidden;
                    ul {
                        display: flex;
                        width: 100% * 24;
                        margin-left: -100%;
                        li {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .btn-box {
                cursor: pointer;
                width: 100%;
                position: absolute;
                top: 45%;
                img {
                    &:nth-child(1) {
                        transform: rotate(180deg);
                        position: relative;
                        left: 15%;
                    }
                    &:last-child {
                        position: relative;
                        left: 80%;
                    }
                }
            }
            .page-num {
                position: absolute;
                bottom: 7%;
                right: 25%;
                border: 1px solid transparent;
                border-radius: 10px;
                background-color: #00000026;
                padding: 3px 10px;
                h4 {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    span {
                        padding: 0 3px;
                    }
                }
            }
        }
    }
}