#section5 {
    width: 100%;
    .container{
        width: 100%;
        max-width: 1050px;
        margin: 0 auto;
        padding: 40px 0;
        .content {
            width: 100%;
            img {
                width: 100%;

            }
        }
    }
}